.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fadeInAnimation {
  animation: fadeInOut 1s infinite;
}
